
<tr>
	<td><%= task.content %>&nbsp;&nbsp;</td>
	<td><%= task.state %>&nbsp;&nbsp;</td>
	<td><%= link_to 'Show', task %>&nbsp;</td>
	<td><%= link_to 'Edit', edit_task_path(task) %>&nbsp;</td>
	<td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>&nbsp;</td>
	<% if task.state != "doing" %>
	<td><%= link_to "Mark as Doing", change_task_path(task, state: "doing"), method: :put %>&nbsp;</td>
	<% else %>
	<td><%= link_to "Mark as To Do", change_task_path(task, state: "to_do"), method: :put %>&nbsp;</td>
	<td><%= link_to "Mark as Done", change_task_path(task, state: "done"), method: :put %>&nbsp;</td>
	<% end %>
</tr>